* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}

.home-layer {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

@media screen and (max-width: 768px) {
  .parent .child1,
  .child2,
  .child3,
  .child4 {
    width: 100%;
  }
}
