* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
.bg-edited {
  background-color: #f8f9fa !important;
}
